# **Data Auquisition Using Webscraping Beautiful Soap Python Module**

In [ ]:
!pip install jovian --upgrade --quiet
!pip install beautifulsoup4 --upgrade --quiet
!pip install pandas --upgrade --quiet
!pip install requests --upgrade --quiet

     |████████████████████████████████| 68 kB 3.3 MB/s
  Building wheel for uuid (setup.py) ... done
     |████████████████████████████████| 128 kB 7.6 MB/s
     |████████████████████████████████| 12.2 MB 7.5 MB/s
     |████████████████████████████████| 62 kB 1.2 MB/s

In [ ]:
import pandas as pd
import jovian
from bs4 import BeautifulSoup
import requests
import time

In [ ]:
topic_url = "https://www.value.today/world/world-top-500-companies"
response = requests.get(topic_url)

In [ ]:
# Check the status code
response.status_code

200

In [ ]:
page_content = response.text

In [ ]:
len(page_content) # Checking the lenght of the page_content

1573034

In [ ]:
# Let's have a look on the first 1000 characters of the html codes that has been written for the web page
page_content[:1000]

'<!DOCTYPE html>\n<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">\n  <head>\n    <meta charset="utf-8"/>\n<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>\n<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-2407955258669770",enable_page_level_ads:true});</script><script>window.google_analytics_uacct="UA-121331115-1";(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www'

In [ ]:
with open("word's-top-500-companies-by-narket-capitalization.html", 'w') as file:
    file.write(page_content)

In [ ]:
# Try to read the html that we have created above to extract the data that we needed from the web page.
with open("word's-top-500-companies-by-narket-capitalization.html", 'r') as f:
    html_source = f.read()

In [ ]:
doc = BeautifulSoup(html_source)

In [ ]:
type(doc)

bs4.BeautifulSoup

In [ ]:
title_tag = doc.title
title_tag

In [ ]:
title_tag.text

'World Top 500 Companies by Market Capitalization as on Jan 1st, 2020'

In [ ]:
# Before going further, first save our work because we are doing all this on an online platform
jovian.commit(project="web-scraping-final")

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

In [ ]:
company_block_tag = doc.find_all('div', {'class':'row well views-row'})
company_block_tag[:1]

[<div class="row well views-row">
 <div class="views-field views-field-title col-sm-12 clearfix"><h2 class="field-content"><a href="/company/saudi-arabian-oil-company" hreflang="en">SAUDI ARABIAN OIL COMPANY (Saudi Aramco)</a></h2></div><div class="views-field views-field-field-world-rank-jan-2020 clearfix col-sm-12"><strong class="views-label views-label-field-world-rank-jan-2020">World Rank (Jan-2020): </strong><span class="field-content">1</span></div><div class="views-field views-field-field-market-value-jan-2020 clearfix col-sm-12"><strong class="views-label views-label-field-market-value-jan-2020">Market Cap (Jan-01-2020): </strong><span class="field-content">1898.10 Billion USD</span></div><div class="views-field views-field-field-headquarters-of-company clearfix col-sm-12"><strong class="views-label views-label-field-headquarters-of-company">Headquarters of Company: </strong><span class="field-content"><a href="/headquarters/saudi-arabia" hreflang="und">Saudi Arabia</a></span></div><div class="views-field views-field-field-company-category-primary clearfix col-sm-12"><strong class="views-label views-label-field-company-category-primary">Sector: </strong><span class="field-content"><a href="/world-top-companies/energy" hreflang="und">Energy</a>, <a href="/world-top-companies/oil-and-gas" hreflang="und">Oil and Gas</a>, <a href="/world-top-companies/chemicals-fertilizers" hreflang="und">Chemicals</a>, <a href="/world-top-companies/oil-refining-marketing-companies" hreflang="und">Oil Refining</a>, <a href="/world-top-companies/oil-and-gas-pipeline-transport" hreflang="und">Oil and Gas Pipeline Transport</a>, <a href="/world-top-companies/integrated-oil-and-gas-companies" hreflang="en">Integrated Oil and Gas Companies</a></span></div><div class="views-field views-field-field-annual-revenue clearfix col-sm-12"><strong class="views-label views-label-field-annual-revenue">Annual Revenue: </strong><span class="field-content">Saudi Aramco Annual Revenues for December-2020 ending is 862 Billion SAR</span></div><div class="views-field views-field-field-annual-net-income-lc clearfix col-sm-12"><strong class="views-label views-label-field-annual-net-income-lc">Annual Net Income: </strong><span class="field-content">Saudi Aramco Annual Net Income for December-2020 ending is 185 Billion SAR</span></div><div class="views-field views-field-field-total-assets clearfix col-sm-12"><strong class="views-label views-label-field-total-assets">Total Assets: </strong><span class="field-content">Total Assets of Saudi Aramco as on December-2020 is 1,914 Billion SAR</span></div><div class="views-field views-field-field-employee-count clearfix col-sm-12"><strong class="views-label views-label-field-employee-count">Total Employees: </strong><span class="field-content">79,800</span></div><div class="views-field views-field-field-employee-count-as-on-date clearfix col-sm-12"><strong class="views-label views-label-field-employee-count-as-on-date">Employee Count as on Date: </strong><span class="field-content">As on March 2021</span></div><div class="views-field views-field-field-ceo clearfix col-sm-12"><strong class="views-label views-label-field-ceo">CEO: </strong><span class="field-content">Amin H. Al-Nasser</span></div>
 </div>]

In [ ]:
len(company_block_tag)

500

In [ ]:
# Here we try to find the tag and name for the company
companies_name = []
for tag in company_block_tag:
        company_name_tag = tag.find('div',{'class':'views-field views-field-title col-sm-12 clearfix'})
        companies_name.append(company_name_tag.find('a').text)

In [ ]:
# Let's have a look on the top 5 company names if we have extracted it in right way. And also check the length of the companies name if we have got all the names available on the webpage
print(companies_name[:5])
len(companies_name)

['SAUDI ARABIAN OIL COMPANY (Saudi Aramco)', 'APPLE', 'MICROSOFT CORPORATION', 'ALPHABET', 'AMAZON.COM']

500

In [ ]:
rank = []
for tag in company_block_tag:
    rank_tag = tag.find('div', {'class':'views-field views-field-field-world-rank-jan-2020 clearfix col-sm-12'})
    rank.append(int(rank_tag.find('span').text))

hq_location = []
for tag in company_block_tag:
    hq_tag = tag.find('div', {'class':'views-field views-field-field-headquarters-of-company clearfix col-sm-12'})
    hq_location.append(hq_tag.find('span').text)

ceo_name = []
for tag in company_block_tag:
    ceo_tag = tag.find('div', {'class':'views-field views-field-field-ceo clearfix col-sm-12'})
    try:
        ceo = ceo_tag.find('span', {'class':'field-content'})
        ceo_name.append(ceo.text)
    except AttributeError:
        ceo_name.append(None)
        
market_cap = []
for tag in company_block_tag:
    market_cap_tag = tag.find('div', {'class':'views-field views-field-field-market-value-jan-2020 clearfix col-sm-12'})
    try:
        market_cap_value = market_cap_tag.find('span', {'class':'field-content'})
        market_cap.append(market_cap_value.text)
    except AttributeError:
        market_cap.append(None)
        
total_employee = []
for tag in company_block_tag:
    employee_tag = tag.find('div',{'class':'views-field views-field-field-employee-count clearfix col-sm-12'})
    try:
        total_employee.append(employee_tag.find('span').text)
    except AttributeError:
        total_employee.append(None)
        
sectors = []
for tag in company_block_tag:
    sector_tag = tag.find('div', {'class':'views-field views-field-field-company-category-primary clearfix col-sm-12'})
    sectors.append(sector_tag.find('span').text)

In [ ]:
# Have a look if all the data is exactly same in counting for all 500 companies.
print(len(rank),len(ceo_name),len(market_cap),len(hq_location), len(total_employee), len(sectors))

500 500 500 500 500 500

In [ ]:
# Extract the URL for the company page
base_url = 'https://value.today'
url = []
for tag in company_block_tag:
    url_tag = tag.find('div',{'class':'views-field views-field-title col-sm-12 clearfix'})
    url.append(base_url + url_tag.find('a')['href'])

In [ ]:
companies_name_dict = {
    'Name': companies_name,
    'Rank': rank,
    'Headquarter': hq_location,
    'CEO': ceo_name,
    'Market Capitalization': market_cap,
    'Total No. Of Employee': total_employee,
    'Sectors': sectors,
    'url': url
}

In [ ]:
companies_df = pd.DataFrame(companies_name_dict)

In [ ]:
# Have a look on the dataframe we have created
companies_df

,Name,Rank,Headquarter,CEO,Market Capitalization,Total No. Of Employee,Sectors,url
0,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),1,Saudi Arabia,Amin H. Al-Nasser,1898.10 Billion USD,"79,800","Energy, Oil and Gas, Chemicals, Oil Refining, ...",https://value.today/company/saudi-arabian-oil-...
1,APPLE,2,USA,Tim Cook,1323.00 Billion USD,"154,000","Technology, Mobiles & Accessories, Electronics...",https://value.today/company/apple
2,MICROSOFT CORPORATION,3,USA,Satya Nadella,1215.00 Billion USD,"220,000","Technology, Software and IT, Laptops, Video Ga...",https://value.today/company/microsoft-corporation
3,ALPHABET,4,USA,Sundar Pichai,943.90 Billion USD,"156,500","Technology, Internet or Mobile App Based Busin...",https://value.today/company/alphabet
4,AMAZON.COM,5,USA,Andy Jassy,941.03 Billion USD,"1,335,000","eCommerce, Internet or Mobile App Based Busine...",https://value.today/company/amazon.com
...,...,...,...,...,...,...,...,...
495,SEVEN & I HOLDINGS,471,Japan,Ryuichi Isaka,32.65 Billion USD,"138,808","Consumer Defensive, Retail, Super Markets, Con...",https://value.today/company/seven-i-holdings
496,ASSICURAZIONI GENERALI,472,Italy,Philippe Donnet,32.61 Billion USD,"72,644","Financial Services, Insurance",https://value.today/company/assicurazioni-gene...
497,AMPHENOL CORPORATION,473,USA,Richard Adam Norwitt,32.53 Billion USD,"90,000","Technology, Electronics, Cables and Wires, Ele...",https://value.today/company/amphenol-corporation
498,GENERAL MILLS,474,USA,Jeff Harmening,32.52 Billion USD,"35,000","Consumer Defensive, Food Products, FMCG, Dairy...",https://value.today/company/general-mills
499,FOMENTO ECONOMICO MEXICANOB. DE C.V. (FEMSA),475,Mexico,Eduardo Padilla Silva,32.46 Billion USD,"320,618","Consumer Defensive, Non-Alcoholic Beverages, B...",https://value.today/company/fomento-economico-...

In [ ]:
companies_df.to_csv('/content/drive/MyDrive/ABC/new_1.csv',index=False)

In [ ]:
 companies_df= pd.read_csv("/content/drive/MyDrive/ABC/new_1.csv")

In [ ]:
 companies_df.shape

(500, 8)

In [ ]:
 companies_df.dtypes

Name                     object
Rank                      int64
Headquarter              object
CEO                      object
Market Capitalization    object
Total No. Of Employee    object
Sectors                  object
url                      object
dtype: object

In [ ]:
 companies_df.head(5)

,Name,Rank,Headquarter,CEO,Market Capitalization,Total No. Of Employee,Sectors,url
0,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),1,Saudi Arabia,Amin H. Al-Nasser,1898.10 Billion USD,"79,800","Energy, Oil and Gas, Chemicals, Oil Refining, ...",https://value.today/company/saudi-arabian-oil-...
1,APPLE,2,USA,Tim Cook,1323.00 Billion USD,"154,000","Technology, Mobiles & Accessories, Electronics...",https://value.today/company/apple
2,MICROSOFT CORPORATION,3,USA,Satya Nadella,1215.00 Billion USD,"220,000","Technology, Software and IT, Laptops, Video Ga...",https://value.today/company/microsoft-corporation
3,ALPHABET,4,USA,Sundar Pichai,943.90 Billion USD,"156,500","Technology, Internet or Mobile App Based Busin...",https://value.today/company/alphabet
4,AMAZON.COM,5,USA,Andy Jassy,941.03 Billion USD,"1,335,000","eCommerce, Internet or Mobile App Based Busine...",https://value.today/company/amazon.com

In [ ]:
 companies_df.describe()

             Rank
count  500.000000
mean   236.632000
std    135.770895
min      1.000000
25%    120.750000
50%    234.500000
75%    354.250000
max    475.000000

In [ ]:
categorical =  companies_df.dtypes[companies_df.dtypes == "object"].index
print(categorical)

companies_df[categorical].describe()

Index(['Name', 'Headquarter', 'CEO', 'Market Capitalization',
       'Total No. Of Employee', 'Sectors', 'url'],
      dtype='object')

,Name,Headquarter,CEO,Market Capitalization,Total No. Of Employee,Sectors,url
count,500,500,466,474,498,500,500
unique,500,38,460,452,458,405,500
top,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),USA,Sashidhar Jagdishan,35.10 Billion USD,"45,000","Financial Services, Banking Services",https://value.today/company/saudi-arabian-oil-...
freq,1,208,2,2,5,37,1

In [ ]:
del companies_df["url"]

In [ ]:
del companies_df["Sectors"]

In [ ]:
sorted(companies_df["Name"])[0:15]

['3M COMPANY',
 'AB VOLVO',
 'ABB',
 'ABBOTT LABORATORIES',
 'ABBVIE',
 'ACCENTURE',
 'ACTIVISION BLIZZARD',
 'ADIDAS',
 'ADOBE',
 'ADVANCED MICRO DEVICES (AMD)',
 'AFLAC',
 'AGRICULTURAL BANK OF CHINA',
 'AIA GROUP',
 'AIR LIQUIDE',
 'AIR PRODUCTS AND CHEMICALS']

In [ ]:
companies_df["Name"].describe()

count                                          500
unique                                         500
top       SAUDI ARABIAN OIL COMPANY (Saudi Aramco)
freq                                             1
Name: Name, dtype: object

In [ ]:
companies_df["Headquarter"][0:15]

0     Saudi Arabia
1              USA
2              USA
3              USA
4              USA
5              USA
6            China
7              USA
8            China
9              USA
10             USA
11             USA
12             USA
13     South Korea
14             USA
Name: Headquarter, dtype: object

In [ ]:
companies_df["Headquarter"].describe()

count     500
unique     38
top       USA
freq      208
Name: Headquarter, dtype: object

In [ ]:
dummy_vector = pd.Series([1,None,3,None,7,8])

dummy_vector.isnull()

0    False
1     True
2    False
3     True
4    False
5    False
dtype: bool

# **Checking of missing values**

In [ ]:
companies_df.isnull().sum()

Name                      0
Rank                      0
Headquarter               0
CEO                      34
Market Capitalization    26
Total No. Of Employee     2
dtype: int64

We can see in this example, our first column contains three missing values, along with one each in column 4 and 5 6  as well.

# **Removing missing values**

In [ ]:
# drop all rows with any NaN and NaT values
df1 = companies_df.dropna()
print(df1)

                                             Name  Rank   Headquarter  \
0        SAUDI ARABIAN OIL COMPANY (Saudi Aramco)     1  Saudi Arabia
1                                           APPLE     2           USA
2                           MICROSOFT CORPORATION     3           USA
3                                        ALPHABET     4           USA
4                                      AMAZON.COM     5           USA
..                                            ...   ...           ...
495                            SEVEN & I HOLDINGS   471         Japan
496                        ASSICURAZIONI GENERALI   472         Italy
497                          AMPHENOL CORPORATION   473           USA
498                                 GENERAL MILLS   474           USA
499  FOMENTO ECONOMICO MEXICANOB. DE C.V. (FEMSA)   475        Mexico

                       CEO Market Capitalization Total No. Of Employee
0        Amin H. Al-Nasser   1898.10 Billion USD                79,800
1                 Tim Cook   1323.00 Billion USD               154,000
2            Satya Nadella   1215.00 Billion USD               220,000
3            Sundar Pichai    943.90 Billion USD               156,500
4               Andy Jassy    941.03 Billion USD             1,335,000
..                     ...                   ...                   ...
495          Ryuichi Isaka     32.65 Billion USD               138,808
496        Philippe Donnet     32.61 Billion USD                72,644
497   Richard Adam Norwitt     32.53 Billion USD                90,000
498         Jeff Harmening     32.52 Billion USD                35,000
499  Eduardo Padilla Silva     32.46 Billion USD               320,618

[462 rows x 6 columns]

In [ ]:
df1.isnull().sum()

Name                     0
Rank                     0
Headquarter              0
CEO                      0
Market Capitalization    0
Total No. Of Employee    0
dtype: int64

# **One hot Encoding**

In [ ]:
static = pd.get_dummies(df1['Headquarter'],prefix_sep='_',prefix='Headquarter',drop_first = True)

In [ ]:
static

,Headquarter_Belgium,Headquarter_Bermuda,Headquarter_Brazil,Headquarter_Canada,Headquarter_China,Headquarter_Colombia,Headquarter_Denmark,Headquarter_Finland,Headquarter_France,Headquarter_Germany,...,Headquarter_South Korea,Headquarter_Spain,Headquarter_Sweden,Headquarter_Switzerland,Headquarter_Taiwan,Headquarter_Thailand,Headquarter_UAE,Headquarter_UK,"Headquarter_UK, Ireland",Headquarter_USA
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0